.btn {
    display: flex;
    align-items: center;
    margin: auto;
    background-color: white;
    border: none;
    color: grey;
    padding: 12px 16px;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
  }
h1 {
    font-size: 50px;
    text-align: center;
    margin-top:25px;
}
h2{
    font-size: 20px;
    margin-top:50px; 
    text-align: center;
}
.dot1 {
    height: 50px;
    width: 50px;
    background-color:green;
    border-radius: 50%;
    display: inline-block;
    margin-left: 29%;
    text-align: center;

}
.dot2 {
    height: 50px;
    width: 50px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
    margin-left:2.5%;
    text-align: center;
  }
.dot3 {
    height: 50px;
    width: 50px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    margin-left:2.5%;
    text-align: center;
}
.dot4 {
    height: 50px;
    width: 50px;
    background-color: sienna;
    border-radius: 50%;
    display: inline-block;
    margin-left:2.5%;
    text-align: center;
}
.dot5 {
    height: 50px;
    width: 50px;
    background-color:red;
    border-radius: 50%;
    display: inline-block;
    margin-left:2.5%;
    text-align: center;
}
.container {
  margin: auto;
  text-align: center;
  align-items: center;
}
textarea{
  rows:4
  cols:50
}
